<%- include ('../partials/headers&footers/bootstrap-header') %>
<%- include('../partials/navs/index_nav') %>
<div class="dashboard-body">
        <h1>Welcome, ${username}. What would you like to do?</h1>
        <h2>Options</h2>
        <div class="dashboard-options">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sunt,
            fugiat voluptatibus cum sit dicta nam deserunt id possimus ipsam
            quibusdam nostrum placeat maiores iste aspernatur quo ex sint
            commodi!
          </p>
          <div class="dashboard-option manage-users">
            <h3>Manage Users</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Accusantium aperiam assumenda sed minima repellendus
              exercitationem neque iusto, quibusdam magnam asperiores fuga rem
              nemo aliquid in ea quos? Error, repellat fuga!
            </p>
          </div>
          <div class="dashboard-option manage-content">
            <h3>Manage Content</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum
              modi, explicabo, amet, pariatur ab voluptatum saepe harum quis
              quia deleniti enim officia perspiciatis odio ratione maxime iure
              ex inventore eos.
            </p>
          </div>
        </div>
      </div>
<%- include('../partials/headers&footers/bootstrap-footer') %>