<%- include ('../partials/headers&footers/bootstrap-header') %>
<%- include('../partials/navs/index_nav') %>
<div class="cards-header">
  <h1>Dashboard</h1>
  <h2>Choose an option below:</h2>
</div>
<!-- Card Wrapper -->
<div class="cards main-cards">
  <!-- Manage Users Option -->
  <a class="option-card" href="/user-settings">
    <div class="card">
    <div class="card-body dashboard-option">
      <h5 class="card-title">Users Panel</h5>
      <h6 class="card-subtitle mb-2 text-muted">Option Information:</h6>
      <p class="card-text">View and modify the site's users.</p>
    </div>
  </div>
  </a>
  <!-- View Applications -->
  <a class="option-card" href="/applications">
    <div class="card">
    <div class="card-body dashboard-option">
      <h5 class="card-title">Client Applications</h5>
      <h6 class="card-subtitle mb-2 text-muted">Option Information:</h6>
      <p class="card-text">View and modify current client applications.</p>
    </div>
  </div>
  </a>
  <!-- View Messages -->
  <a class="option-card" href="/messages">
    <div class="card">
    <div class="card-body dashboard-option">
      <h5 class="card-title">Messages</h5>
      <h6 class="card-subtitle mb-2 text-muted">Option Information:</h6>
      <p class="card-text">View messages submitted by users.</p>
    </div>
  </div>
  </a>
  <!-- Job Applications -->
  <a class="option-card" href="/job-applications">
    <div class="card">
    <div class="card-body dashboard-option">
      <h5 class="card-title">Job Applications</h5>
      <h6 class="card-subtitle mb-2 text-muted">Option Information:</h6>
      <p class="card-text">View current job applicant contact forms.</p>
    </div>
  </div>
  </a>

    </div>

<%- include('../partials/headers&footers/footer') %>
