<%- include('../partials/headers&footers/bootstrap-header') %>
<%- include('../partials/navs/apply_nav') %>
<section id="users-dashboard">
    <!-- Headers -->
    <div class="cards-header">
      <h1>Configure Users</h1>
      <a href="/dashboard/add-user"
        ><button class="btn btn-dark">Add User</button></a
      >
    </div>
    <div class="cards">
      <!-- Cards -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Client</h5>
          <h6 class="card-subtitle mb-2 text-muted">Client Information:</h6>
          <p class="card-text">Name: First Last</p>
          <p class="card-text">Doctor: Doctor</p>
          <a href="#" class="card-link">
            <button class="btn btn-primary">Edit</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-danger">Delete</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-success">Details</button>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Client</h5>
          <h6 class="card-subtitle mb-2 text-muted">Client Information:</h6>
          <p class="card-text">Name: First Last</p>
          <p class="card-text">Doctor: Doctor</p>
          <a href="#" class="card-link">
            <button class="btn btn-primary">Edit</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-danger">Delete</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-success">Details</button>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Client</h5>
          <h6 class="card-subtitle mb-2 text-muted">Client Information:</h6>
          <p class="card-text">Name: First Last</p>
          <p class="card-text">Doctor: Doctor</p>
          <a href="#" class="card-link">
            <button class="btn btn-primary">Edit</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-danger">Delete</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-success">Details</button>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Client</h5>
          <h6 class="card-subtitle mb-2 text-muted">Client Information:</h6>
          <p class="card-text">Name: First Last</p>
          <p class="card-text">Doctor: Doctor</p>
          <a href="#" class="card-link">
            <button class="btn btn-primary">Edit</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-danger">Delete</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-success">Details</button>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Client</h5>
          <h6 class="card-subtitle mb-2 text-muted">Client Information:</h6>
          <p class="card-text">Name: First Last</p>
          <p class="card-text">Doctor: Doctor</p>
          <a href="#" class="card-link">
            <button class="btn btn-primary">Edit</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-danger">Delete</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-success">Details</button>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Client</h5>
          <h6 class="card-subtitle mb-2 text-muted">Client Information:</h6>
          <p class="card-text">Name: First Last</p>
          <p class="card-text">Doctor: Doctor</p>
          <a href="#" class="card-link">
            <button class="btn btn-primary">Edit</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-danger">Delete</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-success">Details</button>
          </a>
        </div>
      </div>
    </div>

    <!-- Doctor Header -->
    <div class="doctor-header">
      <h2>Doctors</h2>
    </div>
    <div class="doctor-cards">
      <!-- Doctor Cards -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Doctor</h5>
          <h6 class="card-subtitle mb-2 text-muted">Doctor Information:</h6>
          <p class="card-text">Name: First Last</p>
          <p class="card-text">Patients: 12</p>
          <a href="#" class="card-link">
            <button class="btn btn-primary">Edit</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-danger">Delete</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-success">Details</button>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Doctor</h5>
          <h6 class="card-subtitle mb-2 text-muted">Doctor Information:</h6>
          <p class="card-text">Name: First Last</p>
          <p class="card-text">Patients: 12</p>
          <a href="#" class="card-link">
            <button class="btn btn-primary">Edit</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-danger">Delete</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-success">Details</button>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Doctor</h5>
          <h6 class="card-subtitle mb-2 text-muted">Doctor Information:</h6>
          <p class="card-text">Name: First Last</p>
          <p class="card-text">Patients: 12</p>
          <a href="#" class="card-link">
            <button class="btn btn-primary">Edit</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-danger">Delete</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-success">Details</button>
          </a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Doctor</h5>
          <h6 class="card-subtitle mb-2 text-muted">Doctor Information:</h6>
          <p class="card-text">Name: First Last</p>
          <p class="card-text">Patients: 12</p>
          <a href="#" class="card-link">
            <button class="btn btn-primary">Edit</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-danger">Delete</button>
          </a>
          <a href="#" class="card-link">
            <button class="btn btn-success">Details</button>
          </a>
        </div>
      </div>
    </div>
  </section>
<%- include('../partials/headers&footers/bootstrap-footer') %>