 <!--Main Nav-->
 <header id="header">
    <nav id="header-main-nav">
      <div class="header-main-nav-hamburger">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
      <ul class="header-main-nav-links">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/apply.html">Apply</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="#">Placeholder</a></li>
        <li><a href="/login.html">Login</a></li>
      </ul>
    </nav>
  </header>