<% if(user) { %>
    <li><a href="/users/logout">Logout</a></li>
    <% if(user.role == process.env.AUTHORIZED) { %>
      <li><a href="/dashboard">Dashboard</a></li>
   <% } %>
 <% } else { %>   
    <li><a href="/login">Login</a></li>
    <% } %> 