<section id="footer">
    <div class="footer">
      <p>Copyright © 2022 Closed Feet Funeral Homes LLC - All Rights Reserved.</p>
    </div>

  </section>


    </main>

   

    <script src="/js/nav.js"></script>

    </body>
</html>