<%- include ('../partials/headers&footers/header') %> 
<%- include('../partials/navs/about_us_nav') %>
<section id="about-us-content">
    <h1 class="about-us-title">About us</h1>
    <!-- Item 1 -->
    <div class="about-us-item about-us-item-1">
      <div class="about-us-item-text">
      <h3 class="about-us-item-title">Who We Are:</h3>
      <p class="about-us-item-para">James Holmes decided to open his own healthcare agency because of his passion for people and wanting to give back to the community. Our staff is dedicated to meeting the unique needs of clients and their families. An Open Hands Nursing Agency, lc in-home health care program is designed to offer flexibility, creative problem solving, and open communication to those we serve. We believe that our goal is to empower those we serve in the care of Open Hands Nursing Agency, llc in-home health care.</p>
      </div>
      <img class="about-us-img" src="/img/thanos.gif" alt="img">
    </div>

    <!-- Item 2 -->
    <div class="about-us-item about-us-item-2">
      <div class="about-us-item-text">
      <p class="about-us-item-para">Every patient that enters Open Hands Nursing Agency, llc In-Home Health Care services is carefully selected and matched to an aide who has the personality, skill and experience to match our client’s needs. For many of our clients, this may be the first time that they are ever cared for within their home by someone other than a family member. It is very important for us to make sure we understand your lifestyle and that you are comfortable with the way we work with you and treat you. To accomplish this goal, we have developed a new way of working with our clients using a blended approach which takes advantage of two levels of care: nurse mobile visits on an as needed basis supplemented by short term episodic visits from our medical director or physician as needed. All home health aides must have direct supervision by one or more nurses at all times during their visit with you.</p>
      </div>
    </div>

    <!-- Item 3 -->
    <div class="about-us-item about-us-item-3">
      <div class="about-us-item-text">
      <p class="about-us-item-para">At Open Hands Nursing Agency we take pride in providing the highest level of service to you, our client and your family. We have a personal approach to maintaining a strong relationship with our clients, offering exceptional care. It is important that we understand your needs and concerns so that we can offer you the best possible care. Our staff is dedicated to providing superior care 
        Open Hands Nursing Agency, LLC is home health care designed with the goal of meeting your unique needs and helping you get back to the life you had before illness or injury. Whether you need short-term help or long-term care, we have the services and expertise to deliver top quality care for your loved ones
        </p>
      </div>
    </div>

    <!-- Item 3 -->

    <div class="about-us-item">
      <div class="about-us-item-text">
      <h3 class="about-us-item-title">Mission Statement</h3>
      <p class="about-us-item-para">Our mission is to provide quality care and service in a compassionate and professional manner. We will strive not only to meet the physical needs of our clients, but also their emotional, social and spiritual well-being. All of our efforts are in the spirit of “Serving Our Clients with Dignity, Respect and Compassion.” The mission, vision and value statement underscores our commitment to provide the highest quality of care for all participants in your health care system.</p>
      </div>
       <img class="about-us-img" src="/img/DYA.gif" alt="img"></div>

       <h4 class="about-us-closing">Come see us!</h4>

  </section>
  <%- include ('../partials/headers&footers/footer') %> 