<%- include ('../partials/headers&footers/header') %> 
<%- include('../partials/navs/about_us_nav') %>
<section id="about-us-content">
    <h1 class="about-us-title">About us</h1>
    <div class="about-us-item about-us-item-1">
      <div class="about-us-item-text">
      <h3 class="about-us-item-title">Who We Are:</h3>
      <p class="about-us-item-para">In 2007 James Holmes decided to open his own healthcare agency because of his passion he has for people and wanting to give back to the community. Open Hands Nursing, LLC in home health care is designed to meet the unique needs of clients and their families. We provide flexibility, creative problem solving, and open communication to clients and their families. Our goal is to empower the population we serve in the care of Open Hands Nursing Agency, llc in-home health care. </p>
      </div>
      <img class="about-us-img" src="/img/ryuji.gif" alt="img">
    </div>
    <div class="about-us-item">
      <div class="about-us-item-text">
      <h3 class="about-us-item-title">Mission Statement</h3>
      <p class="about-us-item-para">To serve our clients with dignity, respect  and compassion by coming together as one body to insure that clients and their families receive comprehensive, professional service and quality care. We simply just need more text here as well man this is just plain empty so I will proceed to sing about how great SQL is. Man I love SQL; I don't know it, but it rocks. I cannot wait to learn about SQL and implement it within a SERN stack application. I also have a huge crush on PHP, but I must learn more about Node first; PHP my beloved 👺</p>
      </div>
       <img class="about-us-img" src="/img/ryuji.gif" alt="img"></div>

       <h4 class="about-us-closing">Come see us broski🤠</h4>

  </section>
  <%- include ('../partials/headers&footers/footer') %> 