<%- include('../partials/headers&footers/header') %>
<%- include('../partials/navs/apply_nav') %>
<h1>Service Provision Contact Form</h1>
<form action="">
    <p></p><input type="text">
    <p></p><input type="text">
    <p></p><input type="text">
    <p></p><input type="text">
    <p></p><input type="text">
    <p></p><input type="text">
    
</form>
<%- include('../partials/headers&footers/footer') %>