<%- include('../partials/headers&footers/header') %>
<%- include('../partials/navs/contact_nav') %>
<section id="contact-us">
    <div class="contact-us-body">
        <div class="contact-us-body-form">
            <form class="contact-us-form" action="/contact"
            method="POST">
                <label for="">Name</label>
                <input name="Name" type="text" placeholder="Name">
                <label for="">Email</label>
                <input name="Email" type="text" placeholder="Email">
                <label for="">Phone</label>
                <input name="Number" type="text" placeholder="Phone Number">
                <label for="">Message</label>
                <textarea name="Message" placeholder="Message"></textarea>
                <button type="submit">Submit</button>
                </form>
        </div>
        <div class="contact-us-body-text">
            <h1>Contact</h1>
            <div class="wrap">
            <p>Have a question? So do I man. You should see that 50 cent fellow from the other day. He didn't have a question, the poor chap had 21 questions! I still want to know why Zebra Cakes are about $40 now man. In what universe does it make sense for buying 4 mcchickens is cheaper than buying 3?</p>
        </div>
        </div>
    </div>
    </section>
<%- include('../partials/headers&footers/footer') %>