<!-- VS CODE YOU IDIOT WHY WOULD YOU RECCOMEND AN INCORRECT TAG YOU OLD FART -->
<%- include ('../partials/headers&footers/header') %> 
<%- include('../partials/navs/index_nav') %>
<!-- Index Sub-Tab -->
<section id="showcase">
  <div class="showcase-content">
    <h1 class="showcase-content-title">Closed Feet</h1>
    <p class="showcase-content-para">We prefer open.</p>
    <button>Request Service</button>
  </div>
</section>

<!-- Index Content -->
<section id="info">
  <div class="info-content">
    <h2 class="info-content-main-title">Who we are</h2>
    <div class="info-content-block">
      <h3 class="info-content-block-title">Caregivers you can trust</h3>
      <p class="info-content-block-para">
        We do more than help you get back to your life, we get you well! We offer a variety of services including personal care, home care, and medical assistance. No matter what your need is, our compassionate caregivers will provide you with quality daily living assistance while you're adjusting to home after an extended hospital stay or injury.
      </p>
    </div>
    <div class="info-content-block">
      <h3 class="info-content-block-title">Experienced and Supportive</h3>
      <p class="info-content-block-para">
        Our caregivers are dedicated to providing you with the highest level of care and companionship. Whether your needs are short or long term, we will strive to meet your every need. From companionship, bathing, meal preparation and medication reminders, we provide customized services for the individual needs of our clients.
      </p>
    </div>
    <div class="info-content-block">
      <h3 class="info-content-block-title">Experienced Home Health Aides</h3>
      <p class="info-content-block-para">
        You are not alone. Our caregivers are trained to be there for you and stay involved in your life. We combine reliability and personal care to meet your needs. We offer companionship and specialized attention with the goal of creating a comfortable environment so you can enjoy life with us, while improving the quality of your home.
      </p>
    </div>
  </div>
</section>
<section id="services">
  <div class="services-content">
    <h2 class="info-content-main-title">Services</h2>
    <div class="services-companionship">

      <h3 class="service-title">Our Personal Care Services</h3>
      <ul class="services-personal-care-li">
        <li>Moral and Emotional Support</li>
        <li>Incidental transportation Services</li>
        <li>Medication Reminder</li>
        <li>Meal Preparation</li>
        <li>Light Housekeeping</li>
        <li>Errand Service</li>
        <li>Grocery Shopping</li>
        <li>Grooming and Hygiene care</li>
        <li>24 hour care (where available)</li>
        <li>Respite Care</li>
        <li>Mobility Assistance</li>
        <li>Transferring and positioning</li>
        <li>Toileting and incontinence care</li>
      </ul>

      
    </div>
  </div>
  <div class="other-services">
    <div class="services-personal-care">
      <h3 class="service-title">Companionship services</h3>
      <ul class="services-companionship-li">
        <li>Moral and Emotional Support</li>
        <li>Incidental Transportation Services</li>
        <li>Medication Reminders</li>
        <li>Meal Preparation</li>
        <li>Light Housekeeping</li>
        <li>Errand Services</li>
        <li>Grocery Shopping</li>
      </ul>
      
    </div>
    <div class="services-dementia">
      <h3 class="service-title">Care for Dementia Patients</h3>
      <p class="services-dementia-para">
        Our experienced and highly trained caregivers provide the highest
        quality of care to both patients and their families. Our goal is to help
        individuals and their loved ones live happy and fulfilling lives.
      </p>
    </div>
  </div>
</section>


<section id="contact">
  <div class="contact">
    <h2 class="info-content-main-title">Contact Us</h2>
    <h3 class="contact-us-headers">Connect With Us</h3>
    <p class="contact-us-para">
      Feel free to contact us with any questions or concerns. We'll get back to you as soon as possible.
    </p>

    <h3 class="contact-us-headers">Open Hands Nursing Agency</h3>
    <p class="contact-us-para">
      1951 Pisgah Road, Florence, South Carolina 29501, United States
    </p>
    <p class="contact-us-number">Office Hours: 10-4 Mon-Fri</p>
    <p class="contact-us-number">843-944-0019</p>

    <h3 class="contact-us-headers">We Proudly Service:</h3>
    <p class="contact-us-para">South Carolina & North Carolina</p>

    <a href="/contact"><button>Send Message</button></a>
  </div>
</section>



<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d8804.630478501569!2d-79.80603302483175!3d34.24828863595179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8855663cd7bbd4c5%3A0x2b05fe83938d5e1e!2sopen%20hands%20nursing%20agency!3m2!1d34.2488708!2d-79.80435179999999!5e0!3m2!1sen!2sus!4v1659715330482!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<%- include ('../partials/headers&footers/footer') %>