<%- include('../partials/headers&footers/header') %>
<%- include('../partials/navs/login_nav') %>
<section id="login">
    <div class="login-container">
      <form action="/users/login" method="POST" class="login-form">
        <div class="form-text">
          <h1 class="login-title">Login</h1> 
          <h4 class="login-subtext">Login to do things</h4>
        </div>
        <label for="">Email</label>
        <input type="text" name="username" placeholder="Email" />
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Password" />

        <button>Login</button>
      </form>
    </div>
  </section>
<%- include('../partials/headers&footers/footer') %>