<%- include('../partials/headers&footers/bootstrap-header') %>
<%- include('../partials/navs/apply_nav') %>
<div class="success">
    <div class="success-content">
        <h1>Thank you!</h1>
<p>Your application has been successfully submitted. You will be contacted by one of our staff within 96 hours to collect remaining information to complete your application process.</p>
<a class="success-home" href="/"><h5>Return to homepage</h5></a>
    </div>
</div>

<%- include('../partials/headers&footers/footer') %>