/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************** Utility Components ***************************************/
:root {
  font-size: 62.5%;

  /************ Custom Properties ***********/

  --primary-color: #000000;

  --secondary-color: #073f88;

  --secondary-color-m: #030124;
  
  --tertiary-color: #84c3e7;

  --tertiary-color-m: #c5bbbb;

}

body {
    font-family: "Merriweather";
    line-height: 1.8;

    display: flex;
}

li {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
/* Main style ------------------*/

/* Nav*/
aside#side-nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
  }

  div.side-nav__content {
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    background-color: var(--primary-color);
  }
  

  div.side-nav__content--logo img {
    width: calc(3vw + 3vh);
  
    object-fit: cover;
  }

  ul.side-nav__content--social {
    height: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  ul.side-nav__content--social a i {
  font-size: calc(1rem + 0.66667vw);
  color: rgb(219, 216, 216);

  padding-bottom: calc(2rem + 0.6667vw);

      /*Hover Animation */
  transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

ul.side-nav__content--social a i:hover,
ul.side-nav__content--social a i:active { 
  color: var(--tertiary-color)
}

/* Main content ------ ---------- ------------------*/


/* All page content container (Main element) ------ ---------- ------------------*/
main {
    flex: 1;
}

/* Header ------ ---------- ------------------*/
header#header {
    background-color: var(--secondary-color);
    height: calc(3vw + 3vh);
    z-index: 5;
}

nav#header-main-nav {
    height: 100%
}

ul.header-main-nav-links {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.header-main-nav-links li{
    padding-right: 3vw;
}

ul.header-main-nav-links li a{
    position: relative;
    padding: 0.2rem 0.6rem;
    font-size: calc(1rem + 0.6667vw);
    /* Hover Animation */
    transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

ul.header-main-nav-links li a:hover,
ul.header-main-nav-links li a:active {
    color: var(--tertiary-color);
}

/* Shooooooooooooooooooooooowcase*/
section#showcase{
    height: 100vh;
    background-image: url(img/pglang.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.showcase-content {
    background-color: var(--secondary-color);
    opacity: 0.7;
    padding: calc(1rem + 2vw);
    height: calc(5rem + 20vmax);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    animation: hero 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes hero {
    0% {
        transform: translateX(100rem) rotate(360deg);
        opacity: 1;
    }
}

.showcase-content-title {
    font-size: calc(2rem + 3vw);
    color: white;
    font-family: "Oswald";
    letter-spacing: 0.5rem;
}

.showcase-content-para {
    font-size: calc(0.8rem + 1vw);
    color: white;
}

.showcase-content-a:link,
.showcase-content-a:visited {
    padding: 1rem 0;
    transition: all 0.5s ease-in-out;
    width: 9rem;
    text-transform: uppercase;
    font-size: calc(0.6rem + 1vw);
    font-weight: 600;
    letter-spacing: 0.2rem;
    position: relative;
}

.showcase-content-a:link::after,
.showcase_content-a:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color-m);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);

  z-index: -1;
}

.showcase-content-a:hover::after,
.showcase-content-a:active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.showcase-content button,
.contact-us-body-form button,
.login-form button {
  background-color: var(--secondary-color-m);
  color: white;
  border-radius: 60px;
  width: 120px;
  height: 50px;
  
}

.showcase-content button:hover,
.showcase-content button:active,
.contact button:hover,
.contact button:active,
section#map-area button:hover,
section#map-area button:active,
.contact-us-body-form button:hover,
.contact-us-form button:active,
.login-form button:active,
.login-form button:hover {
  background-color: #0b76b4;
  cursor: pointer;
  transition: background-color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

section#info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--tertiary-color);
   
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Index information blocks */
.info-content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Index info text styling */
.info-content-main-title {
color: rgb(255, 255, 255);
font-size: 3rem;
}

.info-content-block-title,
.service-title {
    font-size: 1.8rem;
    color: rgb(97, 91, 91);
    padding-bottom: 0.7rem;

}

.info-content-block-para {
    font-size: 1.5rem;
    color: rgb(97, 91, 91);
}

section#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #4ca1d3;
}

.services {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-services {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* border: 5px solid red; */
}

.service-title {
  font-size: 2rem;
    color: rgb(54, 52, 52);
}

.services-dementia {
  /* Lower so the words will wrap */
  width: 35%;
  right: 0;
  /* border-style: solid; */
  top: 0;
}

.services-dementia-para {
  color: blanchedalmond;
  font-size: 2rem;
  padding-bottom: 10px;
}

.services-personal-care {
  /* border: 5px solid blue; */
  word-wrap: break-word;

}

ul.services-personal-care-li li {

  color: white;
font-size: 1.7rem;
padding-bottom: 0.5rem;
}

ul.services-companionship-li li {
  display: flex;
  align-items: center;
  flex-direction: column;
color: white;
font-size: 1.5rem;
padding-bottom: 1rem;
}

section#contact {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
  background-color: #0b76b4;
  padding-bottom: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.contact h2 {
  padding-bottom: 0.3rem;
}

.contact-us-headers {
  font-size: 2rem;
    color: rgb(63, 25, 25);
}

.contact-us-para, .contact-us-number {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  color: rgb(219, 214, 214);

}

.contact-us-number {
  color: #02ffea;
}

.contact button, section#map-area button {
  background-color: var(--secondary-color-m);
  color: white;
  border-radius: 60px;
  width: 120px;
  height: 40px;
}

section#map-area {
  height: 60vh;
    background-image: url(img/pglang.gif);
    background-size: cover;
    background-position: center;
}

section#map-area button {
  margin-top: 10px;
  margin-left: 10px;
}

section#footer {
  background-color: #065d8f;
  height: 35vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .footer hr{
  color: white;
  width: calc(1px + 70vh)
} */

.footer p {
  padding-top: 2rem;
  color: white;
  font-size: 1.5rem;
}

/* About us page content */
section#about-us-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-us-title {
  font-size: 4rem;
  padding: 2rem 0;
}

.about-us-item {
  display: flex;
  width: 80%;
  padding-bottom: 1rem;
}

.about-us-item-1 {
  flex-direction: row-reverse;
}

.about-us-item-text {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

.about-us-item-title {
  font-size: 1.6rem;
}

.about-us-item-para {
  font-size: 1.4rem;
}

.about-us-img {
  width: 50%;
}

.about-us-closing {
  font-size: 2rem;
  font-weight: 100;
  padding: 1.5rem 0;
}

section#contact-us {
  display: flex;
  flex-direction: column;
}

/* Culprit... */
.contact-us-body {
  background-color: aqua;
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.contact-us-body-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #0958c0;
  padding: 2rem;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  height: 44rem;
  background-color: #ececec;
  border-style: groove;
  padding: 1rem;

}

.contact-us-form label,
.login-form {
  color:#0b76b4;
  font-size: 1.9rem;
}

.contact-us-form input,
.login-form
{
  width: 80%;
  padding: 1rem;
  margin: 0.2rem;
}

.contact-us-form input:nth-child(8) {
  height: 2px;
  width: 90%;
}


.contact-us-body-form button{
  align-self: center;
}

.contact-us-body-text {
  display: flex;
  flex-direction: column;
  background-color: #4ca1d3;
  width: 70%;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

.wrap {
  width: 80%;
  overflow: hidden;
}

.contact-us-body-text h1 {
  font-size: 4rem;
  top: 0;
}

.contact-us-body-text p {
  font-size: 2.2rem;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}

.contact-us-body-form textarea {
  height: 20%;
  margin-bottom: 1rem;
}

.contact-us-body-form textarea:focus,
.contact-us-body-form input:focus {
  border: 2px solid #84c3e7
}

/* Login Page Content */

section#login {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(img/thanos.gif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.login-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  width: 32rem;
  height: 38rem;
  border-radius: 2vh
}

.login-form input {
  height: 4rem;
  padding: 2rem 0 2rem;
  margin: 1rem 0 1rem;
}

.login-form button,
.login-form p {
  align-self: center;
  margin-top: 1rem;
}

.sign-up {
  cursor: pointer;
}

.sign-up:hover,
.sign-up:active {
  color: #0958c0;
}



/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Media Queries *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/

/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* (max-width:1510px) Mark *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
@media screen and (min-with: 1510px) {
    body {
        width: 1510px;
        margin: 0 auto;
    }
}

/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* (max-width:900px) Mark *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
@media screen and (max-width: 900px) {
    /*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Showcase / Hero Section *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
    section#showcase {
      align-items: flex-end;
    }
  }

/*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* (max-width:815px) Mark *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
@media screen and (max-width: 815px) {
    /*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Showcase / Hero Section *-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-*/
    section#showcase {
      background-position: 60%;
    }

    .info-content-main-title {
        color: rgb(255, 255, 255);
        font-size: 2rem;
        }
    .other-services,
    .services-dementia,
    .services-personal-care,
    .services-personal-care ul {
      display: flex;
  flex-direction: column;
  align-items: center;
    }

    .services-dementia,
    .services {
      width: 75%;
    }

    .services-personal-care {
      width: 100%;
    }

    .services-dementia p{
      font-size: 1.8rem;
    }

    ul.services-personal-care-li li {
      font-size: 1.6rem;
    }

  }


  /* @media screen and (max-width: 380px) { 
    ul.services-personal-care-li li:nth-child(5) {
      font-size: 1.4rem;
      left: 55%;
    }
  } */

@media screen and (max-width: 610px) {

    header#header {
        position: absolute;
    }

    nav#header-main-nav {
        width: 30rem;
        height: 100%;
        position: fixed;
        top: 0rem;
        right: -30rem;
        background-color: var(--secondary-color);
        text-align: center;
    }

    .clicked {
        left: 55%;
    }

    .header-main-nav-hamburger{
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 2rem;
        right: 3rem;
        cursor: pointer;
        background-color: var(--secondary-color);
        padding: 1rem;
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .line{
        width: 100%;
        height: 0.3rem;
        background-color: white;
        border-radius: 0.2rem;
        transition: all 0.4s ease-in-out;
    }
    ul.header-main-nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    ul.header-main-nav-links li{
        margin-bottom: 4vh;
        margin-left: 6vw;
    }

    .clicked .line-1 {
        transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
    }

    .clicked .line-2 {
        opacity: 0;
    }

    .clicked .line-3 {
        transform: rotateZ(405deg) translate(-0.8rem, -0.6rem)
    }

    ul.header-main-nav-links li {
        opacity: 0;
      }
    
      ul.header-main-nav-links li:nth-child(1) {
        transition: all 0.5s ease-in-out 0.2s;
      }
    
      ul.header-main-nav-links li:nth-child(2) {
        transition: all 0.5s ease-in-out 0.4s;
      }
    
      ul.header-main-nav-links li:nth-child(3) {
        transition: all 0.5s ease-in-out 0.6s;
      }
    
      ul.header-main-nav-links li:nth-child(4) {
        transition: all 0.5s ease-in-out 0.8s;
      }
    
      ul.header-main-nav-links li:nth-child(5) {
        transition: all 0.5s ease-in-out 1s;
      }
    
      ul.header-main-nav-links li:nth-child(6) {
        transition: all 0.5s ease-in-out 1.2s;
      }
    
      ul.header-main-nav-links li.fade {
        opacity: 1;
      }

      .footer p {
        font-size: calc(0.5rem + 0.8vh)
      }

    }

    @media screen and (max-width: 760px) {
      section#about-us-content {
        width: 100%;
      }
     .about-us-item {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
     }
     
     .about-us-item-text {
      width: 85%;
     }
     
     .about-us-img {
      min-width: 85%;
     }
    }

    @media screen and (max-width: 400px) {
      .about-us-img {
        width: 90%;
      }
      .about-us-title {
        font-size: 2.2rem;
      }
    }

    @media screen and (max-width: 1080px) {

      .about-us-item-title {
        padding-top: 3rem;
      }

     
    }

    /* Fix the text position for larger screens */
    @media screen and (min-width: 1080px) {
      .about-us-item-text {
        /* color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .about-us-item-para {
        font-size: 1.8rem;

      }

      .about-us-item-title {
        font-size: 2.2rem;

      }
    }

    @media screen and (max-width: 700px) {
      .contact-us-body {
        flex-direction: column-reverse;
        height: fit-content;
      }
      .contact-us-body-form {
        width: 100%;
        height: max-content;
        
      }
      .contact-us-body-text {
        width: 100%;
        min-height: 30vh;  
      }
      .contact-us-body-text h1{
        font-size: 2.5rem;  
      }
      .wrap p {
        font-size: 2rem;
      }
    }

      @media screen and (max-width: 500px) {

        .wrap {
          width: 95%;
        }

        .wrap p {
        font-size: 1.6rem;
      }

      .contact-us-body-text {
        width: 100%;
        padding-top: 2rem;
      }
      }
  